<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consejo de Facultad</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div>
        <h1> <span class="centrar-titulo"> BIENVENIDOS AL CONSEJO DE FACULTAD</span></h1>
        <br>
        <div class="btn-item">
            <a href="login" class="btn-ghost blue round">Ingresar</a>
        </div>
    </div>

</html>