.logo-default {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    margin-right: -5px !important;
}
.logo-wrapper{
    text-decoration: none !important;
}

.page-header .page-header-top {
    background-color: #A81B1B96;
}

.theme-font {
    color: #fff !important;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #fff;
}

.page-header .page-header-menu {
    background: #444d58bd;
}

