<div class="container">
    <!-- BEGIN HEADER SEARCH BOX -->
    <form class="search-form" action="extra_search.html" method="GET">
    
        <div class="input-group">
      
            <input type="text" class="form-control" placeholder="Buscar" name="query">
            
            <span class="input-group-btn">
            
                <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
            </span>
        </div>
    </form>
 
    <div class="hor-menu ">
          
        <ul class="nav navbar-nav">
			<li class="menu-dropdown ">

				<div class="page-logo">
					<a href="home"><img src="/img/logo_unscCuartaParte.png"
						alt="logo" class="logo-default"> </a>

				</div>
			<li class="menu-dropdown mega-menu-dropdown ">
						<a  data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown"   ><i class="fa fa-globe"></i>
						INICIO 
						</a>
						<ul class="dropdown-menu pull-left">
							<li class=" dropdown-submenu">
								<a href="home">
								<i class="fa fa-windows"></i>
								Inicio </a>
								
							</li>
					</ul>
			</li> 
						
			<li class="menu-dropdown classic-menu-dropdown " th:each="modulo : ${modulosPorPerfil}">
					<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown"><i class="fa" th:classappend="${modulo.icono}"></i>
					<span th:text="${modulo.nombre}"></span> 
					<span class="fa fa-arrow-down"></span>
					</a>
					
					<ul class="dropdown-menu pull-left">
					
						<th:block data-th-each="submodulo : ${submodulosPorPerfil}">
							
							<th:block data-th-if="${modulo.idmodulo} == ${submodulo.idmodulo}">
							
								<li ><a  th:href="@{'/admin/' + ${submodulo.url}}"  th:text="${submodulo.nombre}"></a> </li>
							</th:block>
						</th:block>
						
					</ul>
			</li> 
	
    </div>
    <!-- END MEGA MENU -->
</div>